<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вхід</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment2 :: header}"></th:block>

<div class="container mt-4">
    <form class="" method="post" th:action="@{/login}">
        <h2>Вхід до системи</h2>
        <hr>
        <div class="alert alert-danger" th:if="${param.error}" role="alert">Невірні облікові данні користувача</div>
        <div class="alert alert-success" th:if="${param.logout}" role="alert">Ви успішно вийшли</div>
        <p>
            <label for="username" class="sr-only form-label">Електронна пошта або username</label>
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Email або username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль"
                   required="">
        </p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Війти</button>
    </form>
    <p class="mt-2">Немає акаунту?
        <a th:href="@{'/registration'}" class="link-body-emphasis">Зареєструйтесь тут</a>
    </p>
</div>

<th:block th:insert="~{fragment2 :: footer}"></th:block>
</body>
</html>