<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вхід</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment2 :: header}"></th:block>

<div class="container mt-4">
    <div th:if="${success != null}" class="alert alert-success">
        <p th:each="line : ${success.lines()}" th:text="${line}">text</p>
    </div>
    <div th:if="${error != null}" class="alert alert-danger">
        <p th:each="line : ${error.lines()}" th:text="${line}">text</p>
    </div>
    <form class="" method="post" th:action="@{/login}">
        <h2>Вхід до системи</h2>
        <hr>
        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            <p th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">Error</p>
        </div>
        <div class="alert alert-success" th:if="${param.logout}" role="alert">
            <p>Ви успішно вийшли</p>
        </div>
        <p>
            <label for="emailOrUsername" class="sr-only form-label">Електронна пошта або username</label>
            <input type="text" id="emailOrUsername" name="emailOrUsername" class="form-control"
                   placeholder="Email або username" required="" autofocus="" th:value="${emailOrUsername}">
        </p>
        <p>
            <label for="password" class="sr-only form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль"
                   required="">
        </p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Війти</button>
    </form>
    <p class="mt-2">Немає акаунту?
        <a th:href="@{'/registration'}" class="link-body-emphasis">Зареєструйтесь тут</a>
    </p>
</div>

<th:block th:insert="~{fragment2 :: footer}"></th:block>
</body>
</html>