<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment2 :: header}"></th:block>

<div class="container mt-4">
    <form class="" method="post" th:action="@{/registration}">
        <h2>Реєстрація</h2>
        <hr>
        <div class="alert alert-danger" th:if="${globalError}">
            <ul>
                <li th:text="${globalError}">Error</li>
            </ul>
        </div>
        <p>
            <label for="email" class="sr-only form-label">Електронна пошта</label>
            <span th:if="${emailErrors}" th:unless="${emailErrors.isEmpty()}" class="text-danger">*</span>
            <input type="email" id="email" name="email" class="form-control"
                   required="" placeholder="Email" th:value="${email}">
        </p>
        <div class="alert alert-danger" th:if="${emailErrors}" th:unless="${emailErrors.isEmpty()}">
            <ul>
                <li th:each="emailError : ${emailErrors}" th:text="${emailError}">Error</li>
            </ul>
        </div>
        <p>
            <label for="username" class="sr-only form-label">Username (унікальне ім'я профілю)</label>
            <span th:if="${usernameErrors}" th:unless="${usernameErrors.isEmpty()}" class="text-danger">*</span>
            <input type="text" id="username" name="username" class="form-control"
                   required="" placeholder="Username" th:value="${username}">
        </p>
        <div class="alert alert-danger" th:if="${usernameErrors}" th:unless="${usernameErrors.isEmpty()}">
            <ul>
                <li th:each="usernameError : ${usernameErrors}" th:text="${usernameError}">Error</li>
            </ul>
        </div>
        <p>
            <label for="password" class="sr-only form-label">Пароль</label>
            <span th:if="${rawPasswordErrors}" th:unless="${rawPasswordErrors.isEmpty()}" class="text-danger">*</span>
            <input type="password" id="password" name="rawPassword" class="form-control"
                   required="" placeholder="Пароль">
        </p>
        <div class="alert alert-danger" th:if="${rawPasswordErrors}" th:unless="${rawPasswordErrors.isEmpty()}">
            <ul>
                <li th:each="rawPasswordError : ${rawPasswordErrors}" th:text="${rawPasswordError}">Error</li>
            </ul>
        </div>
        <p>
            <label for="confirmPassword" class="sr-only form-label">Подтвердіть пароль</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   required="" placeholder="Підтвердіть пороль">
        </p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Зареєструватися</button>
    </form>
</div>

<th:block th:insert="~{fragment2 :: footer}"></th:block>

<script>
    const password = document.getElementById("password")
        , confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Паролі не співпадають");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>