<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment2 :: header}"></th:block>

<div class="container mt-4">
    <form th:action="@{/resetPassword}" method="post">
        <h2>Відновлення паролю</h2>
        <hr>
        <h6>Введіть новий пароль користувача</h6>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        <div class="alert alert-danger mb-4" th:if="${rawPasswordErrors}" th:unless="${rawPasswordErrors.isEmpty()}">
            <ul>
                <li th:each="rawPasswordError : ${rawPasswordErrors}" th:text="${rawPasswordError}">Error</li>
            </ul>
        </div>
        <p>
            <label for="password" class="sr-only form-label">Пароль</label>
            <span th:if="${error}" class="text-danger">*</span>
            <input type="password" id="password" name="rawPassword" class="form-control"
                   required="" placeholder="Новий пароль">
        </p>
        <p>
            <label for="confirmPassword" class="sr-only form-label">Підтвердіть пароль</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   required="" placeholder="Підтвердіть пароль">
        </p>
        <input type="hidden" name="resetPasswordToken" th:value="${param.token}"/>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Підтвердити</button>
    </form>
</div>

<th:block th:insert="~{fragment2 :: footer}"></th:block>

<script>
    const password = document.getElementById("password")
        , confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
        if (password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Паролі не співпадають");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>