<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragment2 :: header}"></th:block>

<div class="container mt-4">
    <form th:action="@{/resendConfirmToken}" method="post">
        <h2>Відправити код активації</h2>
        <hr>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        <p>
            <label for="email" class="sr-only form-label">Електронна пошта</label>
            <span th:if="${emailErrors}" th:unless="${emailErrors.isEmpty()}" class="text-danger">*</span>
            <input type="email" id="email" name="email" class="form-control"
                   required="" placeholder="Введіть ваш email" th:value="${email}">
        </p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Підтвердити</button>
    </form>
</div>

<th:block th:insert="~{fragment2 :: footer}"></th:block>

</body>
</html>