<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}">User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:insert="~{fragment2 :: header}"></div>
<p>
<div th:text="'Username: ' + ${user.username}">Username</div>
<div th:text="'Ім\'я: ' + ${user.firstname}">Firstname</div>
<div th:text="'Прізвище: ' + ${user.lastname}">Lastname</div>
<div th:text="'По батькові: ' + ${user.surname}">Surname</div>
<div th:text="'Дата народження: ' + ${user.birthDate}">birthDate</div>
<div th:text="'Роль: ' + ${user.role.name()}">Role</div>
<div th:if="${user.sports}">
    <div>Види спорту:</div>
    <ul style="list-style-type: disc">
        <li th:each="sport : ${user.sports}" th:text="${sport.name}">Sport</li>
    </ul>
</div>
<div th:insert="~{fragment2 :: footer}"></div>
</body>
</html>