<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Турніри</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:insert="~{fragment2 :: header}"></div>
<p>
<main role="main">
    <form action="/tournaments">
        <div>
            <label for="name">Пошук:
                <input id="name" type="text" name="name" th:value="${filter.name}">
            </label>
            <span>
        <label for="afterDate">Дата проводження:
            <input id="afterDate" type="date" name="afterDate" th:value="${filter.afterDate}">
        </label>
        <span> - </span>
        <label for="beforeDate">
            <input id="beforeDate" type="date" name="beforeDate" th:value="${filter.beforeDate}">
        </label>
    </span>
            <label for="sport">
                <select id="sport" name="sportId">
                    <option></option>
                    <option th:each="sport : ${sports}"
                            th:value="${sport.id}"
                            th:selected="${sport.id == filter.sportId}"
                            th:text="${sport.name}">Sport
                    </option>
                </select>
            </label>
        </div>
        <div>
            <label for="sortBy">Сортувати за:
                <select id="sortBy" name="sort">
                    <th:block th:each="sortBy : ${sortBys}">
                        <option th:each="direction : ${directions}"
                                th:value="${sortBy.getProperty() + ',' + direction.name()}"
                                th:selected="${tournaments.metadata.sortBy == sortBy.getProperty()
                                            && tournaments.metadata.direction == direction}"
                                th:text="${sortBy.name() + ' ,' + direction.name()}">SortBy
                        </option>
                    </th:block>
                </select>
            </label>
        </div>
        <div>
            <label for="page">Page:
                <input id="page" type="number" name="page" th:value="${tournaments.metadata.page}">
            </label>
            <label for="size">Size:
                <input id="size" type="number" name="size" th:value="${tournaments.metadata.size}">
            </label>
        </div>
        <button type="submit">Фільтр</button>
    </form>
    <div th:each="tournament : ${tournaments.content}">
        <div>
            <span th:text="${tournament.tournamentDate}">Date</span>
            <span>
            <a th:href="@{'/tournaments/' + ${tournament.id}}" th:text="${tournament.name}">Tournament name</a>
        </span>
        </div>
    </div>
</main>
<div th:insert="~{fragment2 :: footer}"></div>
</body>
</html>