<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Турніри</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<div th:insert="~{fragment2 :: header}"></div>
<div class="container mt-4">
    <h2 style="text-align: center" th:text="${tournament.name}">Tournament name</h2>
    <hr>
    <div class="alert alert-info mt-2">
        <div class="text-dark">
            <b>ID:</b>
            <span class="text-dark" th:text="${tournament.id}">id</span>
        </div>
        <div class="text-dark">
            <b>Статус:</b>
            <span class="text-dark" th:text="#{${tournament.tournamentStatus.messageSource}}">status</span>
        </div>
        <div class="text-dark">
            <b>Назва:</b>
            <span class="text-dark" th:text="${tournament.name}">name</span>
        </div>
        <div class="text-dark">
            <b>Дата проведення:</b>
            <span class="text-dark" th:text="${tournament.tournamentDate}">date</span>
        </div>
        <div class="text-dark">
            <b>Вид спорту:</b>
            <span class="text-dark" th:text="${tournament.sport.name}">sport</span>
        </div>
        <div class="text-dark">
            <b>Обмеження за віком:</b>
            <span th:if="${tournament.minAge}" class="text-dark" th:text="'від ' + ${tournament.minAge}">min age
            </span>
            <span th:if="${tournament.minAge}" class="text-dark" th:text="'до ' + ${tournament.maxAge}">max age
            </span>
            <span th:if="${tournament.minAge != null || tournament.maxAge != null}">років</span>
        </div>
        <div class="text-dark">
            <b>Кількість учасників:</b>
            <span class="text-dark" th:text="${tournament.participantCount}">participant count</span>
        </div>
        <div class="text-dark">
            <b>Опис:</b>
            <th:block th:if="${tournament.description}" class="text-dark">
                <p class="mb-0" th:each="line : ${tournament.description.lines()}" th:text="${line}">description</p>
            </th:block>
        </div>
    </div>
</div>
<div th:insert="~{fragment2 :: footer}"></div>
</body>
</html>