<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${tournament.name}">Tournament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:insert="~{fragment2 :: header}"></div>
<p>
<div th:text="'Назва турниру: ' + ${tournament.name}">Tournament name</div>
<div th:text="'Дата проводження: ' + ${tournament.tournamentDate}">Date</div>
<div th:text="'Вид спорту: ' + ${tournament.sport.name}">Sport</div>
<br>
<div>Судді:</div>
<ul style="list-style-type: disc">
    <li th:each="referee : ${referees}">
        <a th:href="@{'/users/' + ${referee.id}}"
           th:text="${referee.lastname} + ' ' + ${referee.firstname}">Referee</a>
    </li>
</ul>
<div>Учасники</div>
<ul style="list-style-type: disc">
    <li th:each="participant : ${participants}">
        <a th:href="@{'/users/' + ${participant.id}}"
           th:text="${participant.lastname} + ' ' + ${participant.firstname}">Participant</a>
    </li>
</ul>
<div th:insert="~{fragment2 :: footer}"></div>
</body>
</html>